%main.main
  .inner
    .detail-title
      = @hobbies.title
    %br.type__wrapper
      %table.detail-table
        %tr
          %th.detail-hobby 投稿者
          %td.detail-value 
            = link_to "#{@hobbies.user.nickname}", "#"
        %tr
          %th.detail-hobby 大まかなあらすじ
          %td.detail-value
            = @hobbies.synopsis
        %tr
          %th.detail-hobby おすすめポイント
          %td.detail-value
            = @hobbies.recommended
        %tr
          %th.detail-hobby 公開年月日
          %td.detail-value
            = @hobbies.release_date
        %tr
          %th.detail-hobby カテゴリー
          %td.detail-value
            - if [1, 23, 44, 64].include?(@category_id)
              = link_to "#{@category_grandchild.category}","#"
            - else
              = link_to @category_parent.name,"#"
              = '/'
              = link_to @category_child.name,"#"
              = '/'
              = link_to @category_grandchild.name,"#"