%main.main
  .inner
    .greeting2
      = '▼ おすすめ作品名'
      .greeting3
        - if user_signed_in? && current_user.id == @hobby.user_id
          .hobby__manage
            = link_to "編集する", '#', class: :hobby__btn
            = link_to "削除する", hobby_path(@hobby), method: :delete, class: :hobby__btn
    .detail-title
      = @hobby.title
    %br.type__wrapper
      %table.detail-table
        %tr
          %th.detail-hobby 投稿者
          %td.detail-value 
            = link_to "#{@hobby.user.nickname}", user_path(@hobby.user.id)
        %tr
          %th.detail-hobby 大まかなあらすじ
          %td.detail-value
            = @hobby.synopsis
        %tr
          %th.detail-hobby おすすめポイント
          %td.detail-value
            = @hobby.recommended
        %tr
          %th.detail-hobby 公開年月日
          %td.detail-value
            = @hobby.release_date
        %tr
          %th.detail-hobby カテゴリー
          %td.detail-value
            - if [1, 23, 44, 64].include?(@category_id)
              = link_to "#{@category_grandchild.category}","#"
            - else
              - if @category_parent == nil
                = link_to @category_child.name,"#"
                = '/'
                = link_to @category_grandchild.name,"#"
              - else
                = link_to @category_parent.name,"#"
                = '/'
                = link_to @category_child.name,"#"
                = '/'
                = link_to @category_grandchild.name,"#"

    .comment-box
      .greeting2
        = '▼ コメント一覧'
        - if @messages
          #comments
          - @messages.each do |message|
            .comments_lists{data: {message_id: "#{message.id}"}}
              .comment_top{ style: 'color:gray;' 'font-size: 15px;' 'display: flex;' 'justify-content: space-between;' }
                %div
                  = message.user.nickname
                %div
                  = l message.created_at
              .comments_bottom{ style: 'color:black;' 'display: flex;' 'justify-content: flex-start;' }
                %p
                  = message.text
              .comment_bottom_delete
                -if user_signed_in? && current_user == message.user.id
                  %button.comment__delete__button
                    = link_to hobby_message_path(message.hobby.id, message.id), method: :delete do
                      = icon('fa', 'trash')
      .comment__form
        %script{ type: 'javascript/channels', src: 'message_channel.js'}
        - if signed_in?
          = form_with model: [@hobby, @message], local: true do |f|
            = f.text_area :text, class: 'comment-text', id: 'comment_text'
            %p.comment-warn
              = '相手のことを考え、丁寧なコメントを心がけましょう。'
              %br= '不快な言葉遣いなどは、利用制限や退会処分となります。'
            %button.comment_btn{ name: "button", type: "submit" }
              = 'コメントする'